* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    padding: 150px;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar {
    background-color: #2f7e9e;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}
.navbar ul li a:hover,
.navbar ul li a:active {
    background-color: #207a8d;
    color: #fff;
}
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .navbar ul li a {
        font-size: 16px;
    }
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #2f7e9e; /* Nepal-themed blue */
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2f7e9e; /* Nepal-themed blue */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #207a8d; /* Darker shade of blue */
}

button:active {
    background-color: #165a6c;
}